html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body { font: normal 12px/16px Arial; }

select, input { font: normal 12px/16px Arial; }

h1 { font: bold 24px/28px Helvetica, Arial; text-align: center; }

h2 { font: normal 16px/20px Helvetica, Arial; text-align: center; }

h3 { text-align: left; font: normal 20px/26px Helvetica, Arial; padding: 10px 0px; }

div.popup h1 { font: bold 16px/20px Helvetica, Arial; border-bottom: 2px solid black; text-align: left; padding: 0px 0px 5px 0px; }
div.popup h2 { font: normal 12px/16px Helvetica, Arial; margin: 0px 0px 5px 0px; padding: 10px 0px 10px 0px; border-bottom: 2px solid black; text-align: left; }
div.popup p { text-style: italic; font-size: 10px; }
div.popup table { padding-top: 10px; }

body #container { width: 960px; margin: 0 auto; overflow: hidden; display: inline-block; }
body #container { display: block; }
body #container #header, body #container #footer { width: 960px; margin: 0 auto; overflow: hidden; display: inline-block; }
body #container #header, body #container #footer { display: block; }
body #container #header { padding-top: 20px; }
body #container #header #menu { border-top: 2px solid #000; border-bottom: 1px solid #000; padding: 5px 0px; }
body #container #header #menu ul { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; display: inline-block; }
body #container #header #menu ul { display: block; }
body #container #header #menu ul li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
body #container #header #menu ul li.first { padding-left: 0px; }
body #container #header #menu ul li.last { padding-right: 0px; }
body #container #content { padding-bottom: 40px; }
body #container #content .left { display: inline; float: left; margin-right: 0px; width: 480px; }
* html body #container #content .left { overflow-x: hidden; }
body #container #content .right { display: inline; float: left; margin-right: 0px; width: 440px; margin-left: 40px; }
* html body #container #content .right { overflow-x: hidden; }
body #container #content .bottom { display: inline; float: left; margin-right: 0px; width: 960px; }
* html body #container #content .bottom { overflow-x: hidden; }
body #container #footer { border-top: 1px solid #000; padding: 0px 5px; clear: both; }
body #container #footer small { font: normal 12px/14px Helvetica, Arial; }

#messages { font: bold 12px solid Helvetica, Arial; color: white; }
#messages ul { padding-left: 40px; }
#messages .error { background: #b91d03; border: 2px solid #540d08; padding: 10px; }
#messages .notice { background: #76BD02; border: 2px solid #1f5025; padding: 10px; }

form ul { list-style: none; }
form ul li { clear: left; }
form fieldset { padding: 10px; background: #F0F0F6; border: 2px solid #8DBDD8; width: 450px; color: #000; }
form fieldset legend { font: bold 14px Helvetica, Arial; color: #515151; }
form input, form select, form textarea { width: 200px; }
form input.btn, form select.btn, form textarea.btn { width: 100px; float: right; margin: 10px 0px; }
form label { width: 150px; display: block; float: left; }
form input { float: left; }
